{% extends 'base.html.twig' %}
    {% block title %}Création d'une annonce{% endblock %}

{% form_theme myForm _self %}

    {% block body %}
    <div class="slidenew">
    {% set url = path("occas_view") %}
    <a href="{{ url }}">  <h1 class="textnew2">Retour</h1></a> 
         <h1 class="textnew">Créer une nouvelle annonce</h1>
    <div class="container" style="height:100%;">
    <div class="row">
       <div class="col-md-12">
    {{ form_start(myForm) }}

    {{ form_widget(myForm) }}

    <button type="submit" class="btn">Créer mon annonce</button>
    {{ form_end(myForm) }}

       </div>
    
    </div>
   

</div>
    </div>
    {% endblock %}
{% block _annonce_gallery_widget %}

    <p>ici, vous pouvez ajouter vos propres images</p>
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">
    <div class="form-group">
        <button type="button" id="add-image" class="btn ">Ajouter une image</button>
    </div>
  {% endblock %}
{% block _annonce_gallery_entry_row %}
    {# entry précise le entry_type de notre AnnonceType au niveau de la collection - donc chaque formulaire ImageType #}
    {# permet de juste afficher le widget donc plus les 0 1 2 3 ...#}
    {{ form_widget(form) }}

{% endblock %}


{% block _annonce_gallery_entry_widget %}
    {# entry précise le entry_type de notre AnnonceType au niveau de la collection - donc chaque formulaire ImageType #}
    <div class="form-group" id="block_{{id}}"> {# id est une variable du block - block_annonce_images_0 #}
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                        {{ form_errors(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" class=" btn-danger" data-action="delete" data-target="#block_{{id}}" style="width:50px; height:50px;">X</button>
            </div>
        </div>
    </div>
{% endblock %}




  {% block javascripts %} 
  <script>
      $('#add-image').click(function(){
            //compter combien j'ai de form-group pour les indices ex: annonce_images_0_url
            const index = +$("#widgets-counter").val(); // le + permet de transformer en nombre pcq val() rend tjrs un type string

            // récup le prototype des entrées data-prototype
            const tmpl = $('#annonce_gallery').data('prototype').replace(/__name__/g, index); // drapeau g pour indiquer qu'on va le faire plusieurs fois

            // injecter le code dans la div
            $('#annonce_gallery').append(tmpl);

            $('#widgets-counter').val(index+1);

            // gére le bouton supprimer 

            handleDeleteButtons();

        });    

        function updateCounter(){
            const count = +$('#annonce_gallery div.form-group').length;

            $('#widgets-counter').val(count);
        }


        function handleDeleteButtons(){
            $('button[data-action="delete"]').click(function(){
                const target = this.dataset.target; // dataset (les attributs data et je veux le target)
                $(target).remove();
            });
        }

        updateCounter();
        handleDeleteButtons();
    
  
  


  </script>
  {% endblock %}
